<a href="https://colab.research.google.com/github/ohsang14/JAVA/blob/main/STEP2__%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수와 자료형



> 들여쓴 블록

# 01.문자열 자료형 I

In [ ]:
# 큰 따옴표로 문자열 만들기
# word 변수에 큰 따옴표 문자열 저장하여 출력
word = "hello"
print(word)

hello

In [ ]:
# 작은 따옴표로 문자열 만들기
print('hello')

hello

In [ ]:
# 문자열 내부에 큰 따옴표 안에 작은 따옴표 넣기
print("I'm smart")

I'm smart

In [ ]:
# 이스케이프 문자를 사용해 문자열 만들기
# 이스케이프 문자는 역슬래쉬(\) 기호와 할께 조합해서 사용하는 특수문자를 의미
# \와 함꼐 사용하면'문자열을 만드는 기호' 가 아니라 \단순한 따옴표\ 로 인식
print('아시 안느를 `아세요?`넨네')

아시 안느를 `아세요?`넨네

In [ ]:
# 여러 줄 문자열 만들기
# 큰 따옴표 또는 작은 따옴표를 3번 반복한 기호를 사용
# Enter를 누르는 곳마다 줄바꿈이 일어남
sentence = """
글을 쓰고 싶다
옥슬아
안느야
"""
print(sentence)

글을 쓰고 싶다
옥슬아
안느야

In [ ]:
# 줄 바꿈 없이 문자열 만들기
# 큰 따옴표 또는 작은 따옴표를 3번 반복한 기호만 사용하면 위 아래로 의도하지 않은 줄바꿈이 생김
# 역슬래쉬(\) 기호를 사용하면 의도하지 않은 줄바꿈이 사라짐

sentence = """\
옥슬아
안느야
안느야\
"""
print(sentence)

옥슬아
안느야
안느야

In [ ]:
sentence1 = "1\n2"
sentence2 = "3\t4"
sentence3 = '\'작은 따옴표\' 출력'
sentence4 = "\"큰 따옴표\" 출력"
print(sentence1)
print(sentence2)
print(sentence3)
print(sentence4)

1
2
3	4
'작은 따옴표' 출력
"큰 따옴표" 출력

In [ ]:
# [+] 문자열 연결 연산자
a = "파이썬!"
b = "프로그래밍 !"
print(a+b)

파이썬!프로그래밍 !

In [ ]:
# [*] 문자열 반복 연산자
equal = "=" * 30
sentence = equal + "\n 파이썬을 제대로 공부해보자!\n" + equal
print(sentence)

==============================
 파이썬을 제대로 공부해보자!
==============================

In [ ]:
# 문자열 인덱싱: 문자 하나 선택
#     012  3 4567 8 910111213

sentence = '파이썬 하루만에 끝내보자!'

In [ ]:
# 문자열 [인덱스]로 호출
# 순방향 인덱스 : 0부터 시작
# 역방향 인덱스 : -1 부터 시작
print(sentence)
print(sentence[0])
print(sentence[-1])

파이썬 하루만에 끝내보자!
파
!

In [ ]:
# 문자열 슬라이싱: 특정 범위 선택
sentence = "파이썬 하루만에 끝내보자!"

In [ ]:
# 문자열[인덱스] : 인덱스2]로 호출
# 4:8 = 4,5,6,7
# 4 이상부터 8 미만까지 출력
# 마지막 수는 포함 x

print(sentence)
print(sentence[4:8])

파이썬 하루만에 끝내보자!
하루만에



> 들여쓴 블록

#02.문자열 자료형 II



> 들여쓴 블록
# 03.문자열 자료형 III

In [ ]:
# 한 개의 % 연산자 포맷팅
# 숫자 대입은 %d
sentence = "나는 %d호선을 타고 다녀." %6
print(sentence)

나는 6호선을 타고 다녀.

In [ ]:
# 두 개의 이상의 % 연산자 포맷팅
# 숫자 나타내는 변수와 문자를 나타내는 변수 대입
# 숫자 대입은 #d. 문자 대입은 %s
a = 4
b = "학교"
sentence = "나는 %d호선을 타고 %s로 가." % (a,b)
print(sentence)

나는 4호선을 타고 학교로 가.

In [ ]:
# 한 개의 format() 함수 포맷팅
# [] 안에 숫자 대입
# format 함수 안에 넣을 숫자 삽입.
print("나는 {}호선을 타고 다녀".format(6))
print("나는 {0}호선을 타고 다녀".format(6))

나는 6호선을 타고 다녀
나는 6호선을 타고 다녀

In [ ]:
# len(x) : 문자열 길이 출력
sentence1 = "Selena는 샤브샤브를 좋아해"
print(len(sentence1))

17

In [ ]:
# split(): 문자열 나누기
print(sentence1.split())

['Selena는', '샤브샤브를', '좋아해']

In [ ]:
# count(x) : 문자 개수 세기
print(sentence1.count("샤브"))

2

In [ ]:
# replace('a', 'b') : 문자열 바꾸기
sentence2 = sentence1.replace('샤브샤브','고기')
print(sentence1)
print(sentence2)

Selena는 샤브샤브를 좋아해
Selena는 고기를 좋아해

In [ ]:
# find('a') : 위치 알려주기
file_name = "HAMburger.jpg"
print(file_name.find('.'))
print(file_name.split('.'))

9
['HAMburger', 'jpg']

In [ ]:
# join(x): 문자열 삽입
sentence = '.'.join('abcde')
print(sentence)

a.b.c.d.e

# 04.리스트 자료형(list)

In [ ]:
# 대괄호 [ ] 내부에 여러 종류의 자료를 넣어 선언
# 선언한 리스트를 출력하면 내부의 자료를 모두 출력
myList= [1, 1.25, 1, 'word', [1,2,[3,4]]]
print(myList)

[1, 1.25, 1, 'word', [1, 2, [3, 4]]]

In [ ]:
print(myList)

#[인덱싱] 0 인덱스 값을 가진 요소 값 출력
print(myList[0])

[1, 1.25, 1, 'word', [1, 2, [3, 4]]]
1

In [ ]:
# 리스트 'myList'는 1, 1.25, 1과 또 다른 리스트인 [1,2, [3,4]]로 이루어짐
# 인댁식 4번쨰 요쇼
print(myList[4][2])

[3, 4]

In [ ]:
# [인덱싱] 4번쨰 요소 값의 2번쨰 요소 값의 0번째 요소 값 출력
print(myList[4][2][0])

3

In [ ]:
#[슬라이싱] 2번쨰부터 3번째까지 범위 선택
print(myList[2:3])

[1]

In [ ]:
# 아래 결과를 이해하면 인덱싱과 슬라이싱 정복!
# 리스트의 인덱싱과 슬라이싱을 이용

myList = [1, 5.2, 2*3, ['커피', '물', ['매실차', '유자차']]]
print(myList[3][2][0][:2])

매실

In [ ]:
# list1 2번 반복
# list1과 list2 덧셈
# 연산 결과의 길이 구하기
list1 = [1,2,3]
list2 = [4,5,6]
print(list1*2 +list2)
print(len(list1*2 + list2))

[1, 2, 3, 1, 2, 3, 4, 5, 6]
9

In [ ]:
myList = [1,5.2,2*3, ['커피','물',['매실차','유자차']]]
print(myList)

# 리스트 변경 값으로 수정
myList[3] = "변경"
print(myList)
print(len(myList))

# 리스트 "변경" 값 삭제
del myList[3]
print(myList)
print(len(myList))

[1, 5.2, 6, ['커피', '물', ['매실차', '유자차']]]
[1, 5.2, 6, '변경']
4
[1, 5.2, 6]
3

In [ ]:
myList = [1, 5.2 ,2, 6, 2]

In [ ]:
# sort() : 리스트의 요소를 순서대로 정렬하는 함수
myList.sort()
print(myList)

[1, 2, 2, 5.2, 6]

In [ ]:
# reverse(): 리스트 요소 뒤집는 함수
myList.reverse()
print(myList)

[6, 5.2, 2, 2, 1]

In [ ]:
# apeend(x) : 리스트 맨 마지막에 추가하는 함수
# 한 개의 숫자를 리스트에 추가한 경우
myList.append(1)
print(myList)

[6, 5.2, 2, 2, 1, 1]

In [ ]:
# append(x): 리스트 맨 마지막에 리스트를 추가하는 함수
myList.append([3,4])
print(myList)

[6, 5.2, 2, 2, 1, 1, [3, 4]]

In [ ]:
# extend(x): 원래 myList 리스트에 새로운 리스트를 더 하는 함수
myList.extend([3,4])
print(myList)

[6, 5.2, 2, 2, 1, 1, [3, 4], 3, 4]

In [ ]:
# insert(a,b): 리스트 a번쨰 위치에 b를 삽입하는 함수
# 2번쨰 위치에 '삽입' 문자열 삽입
myList.insert(2,"삽입")
print(myList)

[6, 5.2, '삽입', 2, 2, 1, 1, [3, 4], 3, 4]

In [ ]:
# remove(x): 리스트에서 첫 번째로 나오는 x를 삭제하는 함수
# 첫 번째 나온 2를 삭제
myList.remove(2)
print(myList)

[6, 5.2, '삽입', 2, 1, 1, [3, 4], 3, 4]

In [ ]:
print(myList)

#pop(): 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제하는 함수
# 맨 마지막 요소인 4 삭제
lastWord = myList.pop()
print(myList)
print(lastWord)

# pop(x) : 리스트의 x번쨰 요소를 돌려주고 그 요소는 삭제하는 함수
# 1번째 요소인 5.2 삭제
lastWord = myList.pop(1)
print(myList)
print(lastWord)

[6, '삽입', 2, 1, 1, [3, 4], 3]
[6, '삽입', 2, 1, 1, [3, 4]]
3
[6, 2, 1, 1, [3, 4]]
삽입

In [ ]:
# count(x): 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 돌려주는 함수
print(myList)
print(myList.count(1))

[6, 2, 1, 1, [3, 4]]
2

#05.튜플 자료형

In [ ]:
# 튜플은 수정 삭제 불가

In [ ]:
tuple1 = (2.3,)
float1 = (2.3)

print(tuple1)
print(float1)

print(type(tuple1))
print(type(float1))

(2.3,)
2.3
<class 'tuple'>
<class 'float'>

In [ ]:
# 괄호 없는 튜플
# tuple2 : 여러 개 요소인 튜플 생성
tuple2 = 1,2,3,4,5
print(tuple2)
print(type(tuple2))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
# 인덱싱: 문자열 내부의 문자 하나를 선택하는 연산자
tuple1 = (9,8,7,6)
tuple1[0]

9

In [ ]:
# 슬라이싱: 문자열의 특정 범위를 선택할 떄 사용하는 연산자
# [1:3] : 1 인덱스부터 3 인덱스 미만까지 범위
tuple2 = (5,4,3,2)
tuple2[1:3]

(4, 3)

In [ ]:
# tuple1 2번 반복
# tuple1과 tuple2 덧셈
# 연산 결과의 길이 구하기
tuple1 = (1,2,3)
tuple2 = (4,5,6)
print(tuple1 * 2 + tuple2)
print(len(tuple1*2 + tuple2))

(1, 2, 3, 1, 2, 3, 4, 5, 6)
9

In [ ]:
# 튜플의 값은 변경할 떄 오류 발생
tuple1 = (1,2,3,4)
tuple[0] = 3

TypeError: ignored

In [ ]:
# 튜플의 값 삭제할 때 오류 발생
tuple2 = (1,2,3,4)
del tuple2[2]

TypeError: ignored

딕셔너리

In [1]:
# 딕셔너리 선언
myDictionary = {
    "name" : "Selena",
    "job" : "data scientist"
}

In [2]:
# 딕셔너리 값 출력
print(myDictionary["name"])
print(myDictionary["job"])

Selena
data scientist

In [3]:
# 딕셔너리 값 추가
myDictionary['grade'] = [98,100,88]
print(myDictionary)

{'name': 'Selena', 'job': 'data scientist', 'grade': [98, 100, 88]}

In [4]:
myDictionary['grade'] = [100, 100 , 90]
print(myDictionary)

{'name': 'Selena', 'job': 'data scientist', 'grade': [100, 100, 90]}

In [5]:
# 딕셔너리 값 삭제
del myDictionary['grade']
print(myDictionary)

{'name': 'Selena', 'job': 'data scientist'}

In [6]:
# keys() : key 리스트 만들기
print(myDictionary.keys())

dict_keys(['name', 'job'])

In [7]:
# Values() : value 리스트 만들기
print(myDictionary.values())

dict_values(['Selena', 'data scientist'])

In [8]:
# items(): key,value 쌍 얻기
print(myDictionary.items())

dict_items([('name', 'Selena'), ('job', 'data scientist')])

In [10]:
# get(): key로 value 얻기
print(myDictionary.get('name'))
print(myDictionary.get('hobby'))

Selena
None

In [11]:
# in() : 해당 key가 딕셔너리안에 있는지 조사
print('name' in myDictionary)
print('myhobby' in myDictionary)

True
False

In [12]:
# clear() : key, value 쌍 모두 지우기
myDictionary.clear()
print(myDictionary)

{}

# 07.집합 자료형(set)

In [13]:
# 리스트 입력하여 집합 생성
set1 = set([10,11,12])
print(set1)
print(type(set1))

{10, 11, 12}
<class 'set'>

In [14]:
# 문자열 입력하여 집합 생성
# 중복을 허용 x , e가 하나만 출력
# 비순서 자료형: 인덱싱 지원 안함
set2 = set("selena")
print(set2)
print(type(set2))

{'l', 'a', 'n', 'e', 's'}
<class 'set'>

In [20]:
# 집합 생성
set1 = {1,2,3,4,5}
set2 = {1,3,5,7,9}

In [21]:
# 합집합
print(set1|set2)

{1, 2, 3, 4, 5, 7, 9}

In [22]:
# 교집합
print(set1 & set2)

{1, 3, 5}

In [23]:
# 차집합
print(set1 - set2)
print(set2 - set1)

{2, 4}
{9, 7}

관련 함수
add()
update()
remove()

In [24]:
# 집합 생성
set1 = {1,2,3,4,5}

In [25]:
# add(): 한 개의 값 추가
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

In [26]:
# update(): 여러 개의 값 추가
set1.update([11,13])
print(set1)

{1, 2, 3, 4, 5, 6, 11, 13}

In [34]:
# remove(): 특정 값 제거
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6, 11, 13}

In [35]:
# 조건문의 반환 값
"selena" == "selena"

True

In [36]:
# 조건문의 반환 값
10<11

True

In [39]:
if "pyton":
  print("True")
  else:
    print("False")

True

In [41]:
if 0:
  print("true")
  else:
    print("False")

true

In [42]:
bool('')

False

In [43]:
bool([1,2,3])

True